{% extends "core/base.html" %}

{% block title %} Import List {% endblock %}

{% block body_block %}
    <div class='container'>
        <div class='col-12'>
            <h1 style="background-color: rgb(223, 248, 82); text-align: center;">Import List</h1>
        </div>

        <div class="jumbotron">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="myfile">
                <button type="submit">Upload File</button>
            </form>
        </div>
    </div>
{% endblock %}